<nthd-overview-section [section]="sections['basic-usage']">
	<p>Toggle includes <code>NgToggleDirective</code> directive and the <code>NgToggle</code> component.</p>

	<p>The simplest toggle would look something like:</p>

	<ngb-alert type="secondary" [dismissible]="false">
		<ng-toggle
			onColor="primary"
			onText="On"
			offColor="secondary"
			offText="Off"
			[disabled]="false"
			size="lg"
		></ng-toggle>
	</ngb-alert>

	<p>
		This example would look something along these lines (or better dive into one of the
		<a routerLink="../examples">working demos</a>):
	</p>

	<nthd-code [snippet]="BASIC"></nthd-code>
</nthd-overview-section>
