<div class="component-demo">
  <a [id]="id"></a>
  <h2>
    <span>{{ title }}</span>
    <a role="button" (click)="trackStackBlitzClick()" class="stackblitz btn btn-light" target="_blank"
       href="app/components/{{component}}/demos/{{id}}/stackblitz.html" title="Edit in StackBlitz">
      <img class="stackblitz-icon" src="img/stackblitz-icon.svg" alt="StackBlitz icon"/>
      StackBlitz
    </a>
  </h2>
  <hr class="mt-1 mb-4"/>
  <div class="row">
    <div class="col-12 col-lg-6"><ng-content></ng-content></div>
    <div class="col-12 col-lg-6">
      <nthd-tabset class="tabset-code">
        <nthd-tab id="{{component}}-{{demo}}-markup" title="Markup">
          <ng-template nthd-tab-content>
            <nthd-code [code]="snippets[demo]['markup']" lang="html"></nthd-code>
          </ng-template>
        </nthd-tab>
        <nthd-tab id="{{component}}-{{demo}}-typescript" title="Typescript">
          <ng-template nthd-tab-content>
            <nthd-code [code]="snippets[demo]['code']" lang="typescript"></nthd-code>
          </ng-template>
        </nthd-tab>
      </nthd-tabset>
    </div>
  </div>
</div>
