<div>
	<ng-toggle
		[onColor]="model.onColor"
		[onText]="model.onText"
		[offColor]="model.offColor"
		[offText]="model.offText"
		[handleColor]="model.handleColor"
		[handleOnColor]="model.handleOnColor"
		[handleOffColor]="model.handleOffColor"
		[disabled]="model.disabled"
		[size]="model.size"
		[(ngModel)]="model.value"
	>
		<input type="checkbox" [(ngModel)]="model.value" [disabled]="model.disabled" />
	</ng-toggle>
</div>
<pre class="my-2">{{model | json}}</pre>
<div class="row mb-2">
	<div class="col-3">Disable:</div>
	<div class="col-9">
		<input type="checkbox" [(ngModel)]="model.disabled" />
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Indeterminate:</div>
	<div class="col-9">
		<input
			type="checkbox"
			#ind
			[checked]="model.value === null"
			(change)="model.value = ind.checked ? null : (model.value || false)"
		/>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Size:</div>
	<div class="col-9">
		<label class="me-2">
			<input type="radio" [(ngModel)]="model.size" value="sm" />
			Small
		</label>
		<label class="me-2">
			<input type="radio" [(ngModel)]="model.size" value="" />
			Normal
		</label>
		<label>
			<input type="radio" [(ngModel)]="model.size" value="lg" />
			Large
		</label>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Handle Color:</div>
	<div class="col-9">
		<button
			*ngFor="let color of colors"
			class="me-1 mb-1 btn btn-{{color}}"
			[class.active]="model.onColor === color"
			(click)="setHandleColor($event, color)"
		>
			{{color | titlecase}}
		</button>
		<button
			class="me-1 mb-1 btn btn-outline-secondary"
			[class.active]="model.onColor === null"
			(click)="setHandleColor($event, null)"
		>
			Unset
		</button>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Handle On Color:</div>
	<div class="col-9">
		<button
			*ngFor="let color of colors"
			class="me-1 mb-1 btn btn-{{color}}"
			[class.active]="model.onColor === color"
			(click)="setHandleOnColor($event, color)"
		>
			{{color | titlecase}}
		</button>
		<button
			class="me-1 mb-1 btn btn-outline-secondary"
			[class.active]="model.onColor === null"
			(click)="setHandleOnColor($event, null)"
		>
			Unset
		</button>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Handle Off Color:</div>
	<div class="col-9">
		<button
			*ngFor="let color of colors"
			class="me-1 mb-1 btn btn-{{color}}"
			[class.active]="model.onColor === color"
			(click)="setHandleOffColor($event, color)"
		>
			{{color | titlecase}}
		</button>
		<button
			class="me-1 mb-1 btn btn-outline-secondary"
			[class.active]="model.onColor === null"
			(click)="setHandleOffColor($event, null)"
		>
			Unset
		</button>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">On Color:</div>
	<div class="col-9">
		<button
			*ngFor="let color of colors"
			class="me-1 mb-1 btn btn-{{color}}"
			[class.active]="model.onColor === color"
			(click)="setOnColor($event, color)"
		>
			{{color | titlecase}}
		</button>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">On Text</div>
	<div class="col-9">
		<input type="text" [(ngModel)]="model.onText" class="form-control" placeholder="On Text" />
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Off Color:</div>
	<div class="col-9">
		<button
			*ngFor="let color of colors"
			class="me-1 mb-1 btn btn-{{color}}"
      [class.active]="model.offColor === color"
			(click)="setOffColor($event, color)"
		>
			{{color | titlecase}}
		</button>
	</div>
</div>
<div class="row mb-2">
	<div class="col-3">Off Text</div>
	<div class="col-9">
		<input type="text" [(ngModel)]="model.offText" class="form-control" placeholder="Off Text" />
	</div>
</div>
