<!DOCTYPE html>
<html lang="en">
<body>
  <form id="mainForm" method="post" action="https://run.stackblitz.com/api/angular/v1/">
    <input type="hidden" name="description" value="Example usage of the toggle widget from https://nth-cloud.github.io/ng-toggle">
    <input type="hidden" name="tags[0]" value="Angular">
    <input type="hidden" name="tags[1]" value="Bootstrap">
    <input type="hidden" name="tags[2]" value="ng-toggle">
    <input type="hidden" name="tags[3]" value="Toggle">

    <input type="hidden" name="files[.angular-cli.json]" value="{
  &#x22;apps&#x22;: [{}]
}
">
    <input type="hidden" name="files[index.html]" value="&#x3C;!DOCTYPE html&#x3E;
&#x3C;html&#x3E;

  &#x3C;head&#x3E;
    &#x3C;title&#x3E;ng-toggle demo&#x3C;/title&#x3E;
    &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css&#x22; /&#x3E;
    &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css&#x22; /&#x3E;
  &#x3C;/head&#x3E;

  &#x3C;body&#x3E;
    &#x3C;my-app&#x3E;loading...&#x3C;/my-app&#x3E;
  &#x3C;/body&#x3E;

&#x3C;/html&#x3E;">
    <input type="hidden" name="files[main.ts]" value="import &#x27;./polyfills&#x27;;

import { platformBrowserDynamic } from &#x27;@angular/platform-browser-dynamic&#x27;;

import { AppModule } from &#x27;./app/app.module&#x27;;

platformBrowserDynamic().bootstrapModule(AppModule).then(ref =&#x3E; {
  // Ensure Angular destroys itself on hot reloads.
  if (window[&#x27;ngRef&#x27;]) {
    window[&#x27;ngRef&#x27;].destroy();
  }
  window[&#x27;ngRef&#x27;] = ref;

  // Otherwise, log the boot error
}).catch(err =&#x3E; console.error(err));
">
    <input type="hidden" name="files[polyfills.ts]" value="/**
 * This file includes polyfills needed by Angular and is loaded before the app.
 * You can add your own extra polyfills to this file.
 *
 * This file is divided into 2 sections:
 *   1. Browser polyfills. These are applied before loading ZoneJS and are sorted by browsers.
 *   2. Application imports. Files imported after ZoneJS that should be loaded before your main
 *      file.
 *
 * The current setup is for so-called &#x22;evergreen&#x22; browsers; the last versions of browsers that
 * automatically update themselves. This includes Safari &#x3E;= 10, Chrome &#x3E;= 55 (including Opera),
 * Edge &#x3E;= 13 on the desktop, and iOS 10 and Chrome on mobile.
 *
 * Learn more in https://angular.io/docs/ts/latest/guide/browser-support.html
 */

/***************************************************************************************************
 * BROWSER POLYFILLS
 */

/** IE9, IE10 and IE11 requires all of the following polyfills. **/
// import &#x27;core-js/es6/symbol&#x27;;
// import &#x27;core-js/es6/object&#x27;;
// import &#x27;core-js/es6/function&#x27;;
// import &#x27;core-js/es6/parse-int&#x27;;
// import &#x27;core-js/es6/parse-float&#x27;;
// import &#x27;core-js/es6/number&#x27;;
// import &#x27;core-js/es6/math&#x27;;
// import &#x27;core-js/es6/string&#x27;;
// import &#x27;core-js/es6/date&#x27;;
// import &#x27;core-js/es6/array&#x27;;
// import &#x27;core-js/es6/regexp&#x27;;
// import &#x27;core-js/es6/map&#x27;;
// import &#x27;core-js/es6/weak-map&#x27;;
// import &#x27;core-js/es6/set&#x27;;

/** IE10 and IE11 requires the following for NgClass support on SVG elements */
// import &#x27;classlist.js&#x27;;  // Run &#x60;npm install --save classlist.js&#x60;.

/** IE10 and IE11 requires the following for the Reflect API. */
// import &#x27;core-js/es6/reflect&#x27;;


/** Evergreen browsers require these. **/
// Used for reflect-metadata in JIT. If you use AOT (and only Angular decorators), you can remove.
import &#x27;core-js/es7/reflect&#x27;;


/**
 * Required to support Web Animations &#x60;@angular/platform-browser/animations&#x60;.
 * Needed for: All but Chrome, Firefox and Opera. http://caniuse.com/#feat=web-animation
 **/
// import &#x27;web-animations-js&#x27;;  // Run &#x60;npm install --save web-animations-js&#x60;.



/***************************************************************************************************
 * Zone JS is required by default for Angular itself.
 */
import &#x27;zone.js&#x27;;  // Included with Angular CLI.



/***************************************************************************************************
 * APPLICATION IMPORTS
 */
">
    <input type="hidden" name="files[app/app.module.ts]" value="
import { NgModule } from &#x27;@angular/core&#x27;;
import { BrowserModule } from &#x27;@angular/platform-browser&#x27;;
import { FormsModule, ReactiveFormsModule } from &#x27;@angular/forms&#x27;;
import { HttpClientModule } from &#x27;@angular/common/http&#x27;;
import { NgToggleModule } from &#x27;@nth-cloud/ng-toggle&#x27;;
import { AppComponent } from &#x27;./app.component&#x27;;
import { NthdToggleKitchenSink, NthdToggleKitchenSink } from &#x27;./toggle-kitchen-sink&#x27;;

@NgModule({
  imports: [BrowserModule, FormsModule, ReactiveFormsModule, HttpClientModule, NgToggleModule],
  declarations: [AppComponent, NthdToggleKitchenSink, NthdToggleKitchenSink],
  entryComponents: [NthdToggleKitchenSink],
  bootstrap: [AppComponent]
})
export class AppModule {}
">
    <input type="hidden" name="files[app/app.component.ts]" value="import { Component } from &#x27;@angular/core&#x27;;

@Component({
  selector: &#x27;my-app&#x27;,
  templateUrl: &#x27;./app.component.html&#x27;
})
export class AppComponent {
}
">
    <input type="hidden" name="files[app/app.component.html]" value="
&#x3C;div class=&#x22;container-fluid&#x22;&#x3E;

  &#x3C;hr&#x3E;

  &#x3C;p&#x3E;
    This is a demo example forked from the &#x3C;strong&#x3E;ng-toggle&#x3C;/strong&#x3E; project: Angular powered Bootstrap.
    Visit &#x3C;a href=&#x22;https://nth-cloud.github.io/ng-toggle/&#x22; target=&#x22;_blank&#x22;&#x3E;https://nth-cloud.github.io/ng-toggle&#x3C;/a&#x3E; for more widgets and demos.
  &#x3C;/p&#x3E;

  &#x3C;hr&#x3E;

  &#x3C;nthd-toggle-kitchen-sink&#x3E;&#x3C;/nthd-toggle-kitchen-sink&#x3E;
&#x3C;/div&#x3E;
">
    <input type="hidden" name="files[app/toggle-kitchen-sink.ts]" value="import { Component } from &#x27;@angular/core&#x27;;

interface KitchenSinkModel {
  handleColor: string|null;
  handleOnColor: string|null;
  handleOffColor: string|null;
  onColor: string;
  offColor: string;
  onText: string;
  offText: string;
  disabled: boolean;
  size: &#x27;sm&#x27; | &#x27;lg&#x27; | &#x27;&#x27;;
  value: boolean;
}

@Component({
  selector: &#x27;nthd-toggle-kitchen-sink&#x27;,
  templateUrl: &#x27;./toggle-kitchen-sink.html&#x27;
})
export class NthdToggleKitchenSink {
  model: KitchenSinkModel = {
    handleColor: null,
    handleOnColor: null,
    handleOffColor: null,
    onColor: &#x27;primary&#x27;,
    offColor: &#x27;secondary&#x27;,
    onText: &#x27;On&#x27;,
    offText: &#x27;Off&#x27;,
    disabled: false,
    size: &#x27;&#x27;,
    value: null
  };

  colors: any = [&#x27;primary&#x27;, &#x27;secondary&#x27;, &#x27;success&#x27;, &#x27;danger&#x27;, &#x27;warning&#x27;, &#x27;info&#x27;, &#x27;light&#x27;, &#x27;dark&#x27;];

  setOnColor(event: MouseEvent, color: string) {
    event.preventDefault();
    event.stopPropagation();
    this.model.onColor = color;
  }

  setOffColor(event: MouseEvent, color: string) {
    event.preventDefault();
    event.stopPropagation();
    this.model.offColor = color;
  }

  setHandleColor(event: MouseEvent, color: string) {
    event.preventDefault();
    event.stopPropagation();
    this.model.handleColor = color;
  }

  setHandleOnColor(event: MouseEvent, color: string) {
    event.preventDefault();
    event.stopPropagation();
    this.model.handleOnColor = color;
  }

  setHandleOffColor(event: MouseEvent, color: string) {
    event.preventDefault();
    event.stopPropagation();
    this.model.handleOffColor = color;
  }
}
">
    <input type="hidden" name="files[app/toggle-kitchen-sink.html]" value="&#x3C;div&#x3E;
    &#x3C;ng-toggle
        [onColor]=&#x22;model.onColor&#x22;
        [onText]=&#x22;model.onText&#x22;
        [offColor]=&#x22;model.offColor&#x22;
        [offText]=&#x22;model.offText&#x22;
        [handleColor]=&#x22;model.handleColor&#x22;
        [handleOnColor]=&#x22;model.handleOnColor&#x22;
        [handleOffColor]=&#x22;model.handleOffColor&#x22;
        [disabled]=&#x22;model.disabled&#x22;
        [size]=&#x22;model.size&#x22;
        [(ngModel)]=&#x22;model.value&#x22;
    &#x3E;
        &#x3C;input type=&#x22;checkbox&#x22; [(ngModel)]=&#x22;model.value&#x22; [disabled]=&#x22;model.disabled&#x22; /&#x3E;
    &#x3C;/ng-toggle&#x3E;
&#x3C;/div&#x3E;
&#x3C;pre class=&#x22;my-2&#x22;&#x3E;{{model | json}}&#x3C;/pre&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Disable:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;input type=&#x22;checkbox&#x22; [(ngModel)]=&#x22;model.disabled&#x22; /&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Indeterminate:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;input type=&#x22;checkbox&#x22; #ind [checked]=&#x22;model.value === null&#x22; (change)=&#x22;model.value = ind.checked ? null : (model.value || false)&#x22; /&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Size:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;label class=&#x22;mr-2&#x22;&#x3E;
            &#x3C;input type=&#x22;radio&#x22; [(ngModel)]=&#x22;model.size&#x22; value=&#x22;sm&#x22; /&#x3E;
            Small
        &#x3C;/label&#x3E;
        &#x3C;label class=&#x22;mr-2&#x22;&#x3E;
            &#x3C;input type=&#x22;radio&#x22; [(ngModel)]=&#x22;model.size&#x22; value=&#x22;&#x22; /&#x3E;
            Normal
        &#x3C;/label&#x3E;
        &#x3C;label&#x3E;
            &#x3C;input type=&#x22;radio&#x22; [(ngModel)]=&#x22;model.size&#x22; value=&#x22;lg&#x22; /&#x3E;
            Large
        &#x3C;/label&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Handle Color:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;button *ngFor=&#x22;let color of colors&#x22; class=&#x22;mr-1 mb-1 btn btn-{{color}}&#x22; [class.active]=&#x22;model.onColor === color&#x22; (click)=&#x22;setHandleColor($event, color)&#x22;&#x3E;{{color | titlecase}}&#x3C;/button&#x3E;
        &#x3C;button class=&#x22;mr-1 mb-1 btn btn-outline-secondary&#x22; [class.active]=&#x22;model.onColor === null&#x22; (click)=&#x22;setHandleColor($event, null)&#x22;&#x3E;Unset&#x3C;/button&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Handle On Color:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;button *ngFor=&#x22;let color of colors&#x22; class=&#x22;mr-1 mb-1 btn btn-{{color}}&#x22; [class.active]=&#x22;model.onColor === color&#x22; (click)=&#x22;setHandleOnColor($event, color)&#x22;&#x3E;{{color | titlecase}}&#x3C;/button&#x3E;
        &#x3C;button class=&#x22;mr-1 mb-1 btn btn-outline-secondary&#x22; [class.active]=&#x22;model.onColor === null&#x22; (click)=&#x22;setHandleOnColor($event, null)&#x22;&#x3E;Unset&#x3C;/button&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Handle Off Color:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;button *ngFor=&#x22;let color of colors&#x22; class=&#x22;mr-1 mb-1 btn btn-{{color}}&#x22; [class.active]=&#x22;model.onColor === color&#x22; (click)=&#x22;setHandleOffColor($event, color)&#x22;&#x3E;{{color | titlecase}}&#x3C;/button&#x3E;
        &#x3C;button class=&#x22;mr-1 mb-1 btn btn-outline-secondary&#x22; [class.active]=&#x22;model.onColor === null&#x22; (click)=&#x22;setHandleOffColor($event, null)&#x22;&#x3E;Unset&#x3C;/button&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;On Color:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;button *ngFor=&#x22;let color of colors&#x22; class=&#x22;mr-1 mb-1 btn btn-{{color}}&#x22; [class.active]=&#x22;model.onColor === color&#x22; (click)=&#x22;setOnColor($event, color)&#x22;&#x3E;{{color | titlecase}}&#x3C;/button&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;On Text&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;input type=&#x22;text&#x22; [(ngModel)]=&#x22;model.onText&#x22; class=&#x22;form-control&#x22; placeholder=&#x22;On Text&#x22; /&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Off Color:&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;button *ngFor=&#x22;let color of colors&#x22; class=&#x22;mr-1 mb-1 btn btn-{{color}}&#x22; [ngClass]=&#x22;{&#x27;active&#x27;: model.offColor === color}&#x22; (click)=&#x22;setOffColor($event, color)&#x22;&#x3E;{{color | titlecase}}&#x3C;/button&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row mb-2&#x22;&#x3E;
    &#x3C;div class=&#x22;col-3&#x22;&#x3E;Off Text&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-9&#x22;&#x3E;
        &#x3C;input type=&#x22;text&#x22; [(ngModel)]=&#x22;model.offText&#x22; class=&#x22;form-control&#x22; placeholder=&#x22;Off Text&#x22; /&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
">

    <input type="hidden" name="dependencies" value="{&#x22;@angular/core&#x22;:&#x22;^13.2.3&#x22;,&#x22;@angular/common&#x22;:&#x22;^13.2.3&#x22;,&#x22;@angular/compiler&#x22;:&#x22;^13.2.3&#x22;,&#x22;@angular/platform-browser&#x22;:&#x22;^13.2.3&#x22;,&#x22;@angular/platform-browser-dynamic&#x22;:&#x22;^13.2.3&#x22;,&#x22;@angular/router&#x22;:&#x22;^13.2.3&#x22;,&#x22;@angular/forms&#x22;:&#x22;^13.2.3&#x22;,&#x22;@nth-cloud/ng-toggle&#x22;:&#x22;9.0.1&#x22;,&#x22;core-js&#x22;:&#x22;^3.6.4&#x22;,&#x22;rxjs&#x22;:&#x22;^7.5.4&#x22;,&#x22;zone.js&#x22;:&#x22;~0.11.4&#x22;}">
  </form>
  <script>document.getElementById("mainForm").submit();</script>
</body>
</html>