// styles in src/style directory are applied to the whole page

$header-link-color: #d9d9d9;
$header-border-color: #1a1a1a;
$header-bg: #362c23;
$banner-text-color: #ccc;
$banner-lead-text-color: #fff;
$page-footer-bg: #f7f7f7;
$page-footer-link-color: #55595c;
$api-docs-border-color: #999;
$language-syntax-bg: #272822;
$docs-nav-color: #999;
$doc-nav-active-bg: #8a5933;
$doc-nav-active-border-color: darken(#8a5933, 5%);
$doc-nav-active-color: #eee;
$doc-nav-hover-color: rgba(51, 94, 138, 0.1);
$hr-bg: #d8dde6;
$nav-link-color: #54698d;
$nav-link-hover-bg: #cfdbe6;
$nav-link-active-color: #16325c;
$nav-link-active-bg: #0070d2;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

html {
  font-size:   100%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 0.8125rem;
}

hr {
  display:    block;
  margin:     2rem 0;
  border-top: solid 1px $hr-bg;
  height:     1px;
  clear:      both;
}

@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/navbar";

nthd-app {
  display:        flex;
  flex-direction: column;
  height:         100vh;
}

header {
  background: $header-bg;
  border-bottom: 1px solid $header-border-color;
  position:      fixed;
  top:           0;
  width:         100%;
  z-index:       10000;
  box-shadow:    0 4px 10px 0 rgba(0, 0, 0, 0.5);

  .navbar {
    display:      flex;
    margin-left:  auto;
    margin-right: auto;
    max-width:    64rem;
    padding:      0.55rem 2rem 0.75rem;
    a:not(.nav-link) {
      font-size:    0.75rem;
      line-height:  1.25;
    }

    a.nav-link {
      color: rgba($header-link-color, 0.8) !important;
    }

    .navbar-logo {
      height:       2.2em;
      margin-right: 0.75em;
    }

    .navbar-nav-scroll {
      margin-left: 1.5rem;
    }
  }

  a {
    color: $header-link-color !important;
  }
}

main {
  position:   relative;
  display:    block;
  margin-top: 54px;
  flex:       1 0 auto;

  .container {
    max-width: 64rem;

    &.container-md {
      max-width:  48rem;
      margin-top: 1.5rem;
      padding:    2rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  header {
    position: relative;
    z-index: auto;

    .navbar {
      a:not(.nav-link) {
        font-size: 1.2rem;
      }

      .nav-link {
        font-size: 1rem;
      }

      .navbar-nav-scroll {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  main {
    margin-top: 0;
  }
}

.banner {
  background-color: #111;
  padding:          1.5rem;
  margin-bottom:    0.75rem;
  text-align:       center;
  color: $banner-text-color;

  .lead {
    margin-right:  auto;
    margin-left:   auto;
    width:         80%;
    color: $banner-lead-text-color;

    p {
      font-size: 0.8125rem;
      margin:    0 0 1em;
    }
    p:first-of-type {
      margin-top: 0.75rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .logo {
    height: 170px;
  }
}

.heading {
  font-size:   1.75rem;
  font-weight: 300;
  line-height: 1.25;
}

section {
  .heading {
    margin-top:    1.5rem;
    margin-bottom: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 0.75rem;

  }

  prism + p {
    margin-top: 1.5rem;
  }
}

.github-buttons {
  > * {
    margin-left: 0.5rem;
  }

  header & {
    margin:       0;
    padding-left: 0;
  }

  nthd-default & {
    text-align: center;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .bd-sidebar {
    padding-left: 1rem;

    display:      inline-block;
    position:     -webkit-sticky;
    position:     sticky;
    top:          1rem;
  }
}

.bd-toc-link {
  display: block;
  padding: .25rem .75rem;
  color:   #55595c;
}

.bd-toc-link:focus,
.bd-toc-link:hover {
  color:           #0275d8;
  text-decoration: none;
}

.active > .bd-toc-link {
  font-weight: 500;
  color:       #373a3c;
}

div.api-doc-component {
  margin-bottom: 3rem;

  > h2, > h3 {
    .github-link {
      transition: opacity .5s;
      opacity:    .3;
    }

    &:hover {
      .github-link {
        opacity: 1;
      }
      & > .title-fragment {
        opacity: 1;
      }
    }
  }

  section {
    margin-top: 3rem;
    h4 {
      margin-top:    2rem;
      margin-bottom: 1rem;
    }

    .meta {
      font-size:     .8rem;
      margin-bottom: 1rem;
      > div {
        margin-bottom: .5rem;
      }
    }
  }
}

a.title-fragment {
  opacity:       0;
  transition:    opacity 125ms ease;
  line-height:   inherit;
  position:      absolute;
  margin-left:   -1.2em;
  padding-right: 0.5em;

  & > img {
    width:  1em;
    height: 1em;
  }
}

div.component-demo {
  margin-bottom: 3rem;
  h2 {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    span {
      flex-grow: 1;
    }

    .stackblitz {
      display: flex;
      align-items: center;
      align-self: center;
      opacity:    0.3;
      transition: opacity .5s;
      margin-left: 1rem;

      .stackblitz-icon {
        height: 1.2rem;
        margin-left: -0.5rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .tabset-code {
    pre {
      margin: 0;
    }
  }
}

.nav {
  margin:    0;
  padding:   0;
  font-size: 80%;
  border-bottom: 1px solid $hr-bg;

  .nav-item {
    position: relative;
    font-size: 0.75rem;
    line-height: 1.25;
    background: transparent;
    border: 0 none;
    padding: 0;

    &,
    .nav-link {
      color:          $nav-link-color;
      text-transform: uppercase;
      letter-spacing: 0.0625rem;
      border:         0 none;
      padding:        0 0.75rem;
      line-height:    2.5rem;
    }

    .nav-link {
      &:after {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        content: "";
        transition: background-color 0.15s ease-in-out;
      }

      &:hover {
        &:after {
          background-color: $nav-link-hover-bg;
        }
      }

      &.active {
        color: $nav-link-active-color;

        &:after {
          background-color: $nav-link-active-bg;
        }
      }
    }
  }
}

.tab-content {
  padding: 1rem 0;
  overflow: hidden;
}

.examples-legend {
  font-size: 80%;
}

.bd-footer {
  padding:          3rem 0;
  margin-top:       3rem;
  font-size:        85%;
  background-color: $page-footer-bg;
  text-align:       left;

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: $page-footer-link-color;
  }
}

nthd-api-docs, nthd-api-docs-class, nthd-api-docs-config {
  display: block;

  &:not(:first-child) {
    margin-top:  3rem;
    border-top:  1px solid $api-docs-border-color;
    padding-top: 1rem;
  }
}

// override prism theme background color to inline it with bootstrap colors
code[class*="language-"],
pre[class*="language-"] {
  background-color: $language-syntax-bg;
}

span.token.tag {
  font-size: 1em;
  padding:   0;
}

nthd-component-wrapper, nthd-page-wrapper {
  .banner {
    border-radius: 0;
  }
}

@mixin center-nav-tab-on-small-screens() {
  .banner > .container {
    margin-bottom: 2rem;
    h1 {
      text-align: center;
    }
  }

  .root-nav {
    ul {
      justify-content: center !important;
    }
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  @include center-nav-tab-on-small-screens();
}

@media (max-width: 568px) and (max-height: 320px) {
  @include center-nav-tab-on-small-screens();
}

ng-toggle.btn {
  border-color: $border-color;
}
