<section class="container mt-4 tabset-code">
  <nthd-tabset
    class="root-nav"
    (tabChange)="tabChange($event)"
    [activeId]="activeTab"
  >
    <nthd-tab title="Examples" id="examples">
      <ng-template nthd-tab-content>
        <ng-content select="nthd-example-box"></ng-content>
        <div class="examples-legend">
          <strong>Legend</strong>
          <p>
            <ng-container *ngFor="let type of fileTypes; last as last">
              <small class="badge {{type[2]}}">{{type[0]}}</small> {{type[1]}}
              <ng-container *ngIf="!last">&nbsp;</ng-container>
            </ng-container>
          </p>
        </div>
      </ng-template>
    </nthd-tab>
    <nthd-tab title="API" id="api">
      <ng-template nthd-tab-content>
        <ng-content select="nthd-api-docs"></ng-content>
        <ng-content select="nthd-api-docs-class"></ng-content>
        <ng-content select="nthd-api-docs-config"></ng-content>
      </ng-template>
    </nthd-tab>
  </nthd-tabset>
</section>
