<ul class="nav nav-tabs" role="tablist">
    <li *ngFor="let tab of tabs" class="nav-item">
        <a
            class="nav-link"
            [class.active]="tab.active"
            [nthdInternalOutlet]="tab.title"
            [id]="tab.id"
            href
            (click)="onSelect(tab, $event)"
            role="tab"
            [attr.aria-selected]="tab.active"
        ></a>
    </li>
</ul>
<div class="tab-content">
    <ng-template [ngTemplateOutlet]="activeTab.templateRef"></ng-template>
</div>
