<nthd-page-wrapper pageTitle="Need Help?">

	<p>
		If you have discovered a bug or have a feature request, feel free to
		<a href="https://github.com/nth-cloud/ng-toggle/issues" target="_blank">create an issue</a> on GitHub. Otherwise,
		oyu have a good chance of getting your question answered on
		<a href="https://stackoverflow.com/questions/tagged/ng-toggle" target="_blank">StackOverflow</a> where the community
		at large are looking at questions tagged with <code>ng-toggle</code>.
	</p>
	<p>StackOverflow is a great place to ask questions since:</p>
	<ul>
		<li>there are hundreds of people willing to help on StackOverflow,</li>
		<li>
			questions and answers stay available for public viewing so your question / answer might help someone else, and
		</li>
		<li>the SO voting system assures that the best answers are prominently visible.</li>
	</ul>
</nthd-page-wrapper>>
